@import '../../../../themes/padding.css';
@import '../../../../themes/pull.css';
@import '../../../../themes/ellipsis.css';
@import '../../../../themes/font-size.css';

.notify-bell {
  margin-left: 12px;
  margin-right: 14px;
  color: grey;
}

.sidebar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  /* line-height: 50px; */
}

.sidebsmall a {
  color: #fff;
  display: block;
  text-decoration: none;
}

.search_overlay_trigger {
  display: inline;
  font-size: 16px;
  cursor: pointer;
}

.x:hover {
  background-color: #494949;
}

.menu:hover {
  background-color: #494949;
}


/* ///////////////////////// */

.sidebsmall {
  float: left;
  clear: both;
  width: 100%!important;
  background: #ddd;
  margin: 0 0;
  line-height: 31px;
}

.lh47 {
  line-height: 47px;
}

.menu-span {
  text-transform: capitalize !important;
  font-weight: normal;
  padding: 4px;
}

.posrel {
  position: relative;
}

.mw50 {
  max-width: 50%;
}

.menu {
  /* line-height: 48px; */
  text-overflow: ellipsis;
  overflow: hidden;
  text-transform: lowercase;
  width: 100px;
  cursor: pointer;
}

.userlink {
  width: auto!important;
  color: #737373;
}

.text-right {
  text-align: right;
}

.notifybell {
  margin-top: 10px;
  color: #4b4b4b;
  cursor: pointer;
  font-size: 14px!important;
  margin-top: 0px;
  float: left;
}

.notcbell {
  position: absolute;
  border-radius: 2px;
  padding: 2px 4px 2.5px 4px;
  text-align: center;
  background: #79991f;
  color: #fff;
  font-size: 10px;
  right: 10px;
  top: 7px;
  line-height: 9px;
  font-style: normal;
  min-width: 15px;
  right: 20px;
}