.span-design {
  margin-right: 10px;
}

.span-margin {
  margin-right: 5rem;
}

.cross-button {
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.minwidth {
  min-width: 100px;
}

.span-new {
  color: grey;
}

.job-heading {
  color: rgb(75, 75, 75);
  font-size: 25px;
  font-weight: 500;
  line-height: 27.5px;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: 'Noto Sans',sans-serif;
}