.profile-list {
  margin-top: 30px;
  /* right: 0; */
  z-index: 9999;
  font-weight: 200;
  text-transform: none;
  position: absolute;
  width: auto;
  display: none;
  background-color: #494949;
}

.display-dd {
  display: block;
}

.about {
  width: 365px !important;
}

.dropdown-menu {
  padding: 3px;
  margin: 0;
  border: 0;
  z-index: 1;
  border-radius: 0;
  box-shadow: 0 0 0 0;
  /*top: 100%;*/
  float: left;
  min-width: 160px;
  background-clip: padding-box;
  margin-top: 17px;
  margin-left: -30px;
}

.profwidgetsect {
  padding: 15px 5px;
  clear: both;
}

.posrel {
  display: table-cell;
    vertical-align: middle;
    padding-right: 12px;
    position: relative;
}

.img {
  border-radius: 50%;
  width: 69px;
  height: 68px;
  display: inline-block;
  text-align: center;
}

.name {
  display: table-cell;
    vertical-align: middle;
    font-size: 15px!important;
    width: 76%;
    float: none!important;
    font-family: arial;
    font-weight: bold!important;
    word-break: break-all;
}

.email {
  padding-bottom: 5px;
    padding-right: 50px;
    display: block;
}

.verifyp {
  padding: 6px 0 0 0;
    font-weight: 400;
    font-size: 10px;
    font-style: normal;
    border: 0 none;
    background: transparent;
    width: inherit;
    cursor: pointer;
    display: block;
    float: none;
}

.progress-span {
  padding-right: 0;
  padding-top: 0;
  height: 10px;
  border-radius: 20px;
  box-shadow: none;
  margin-top: 5px;
}

.progress-bar {
  border-radius: 20px;
  min-width: 20px;
  width: 100%;
}

.greenbg {
  background-color: #999966!important;
  padding: 8px 0;
}

.logoutstrip {
  background: #353535;
  padding: 10px;
  border-top: 1px solid #C5C57B;
  border-bottom: 1px solid #747474;
}

.logout-btn {
  text-align: center;
  width: 90px;
}

.green-btn {
  background-color: #996;
  padding: 0 5px;
  line-height: 25px;
  color: #fff;
  border-radius: 4px;
}

.col-left {
  width: 40%;
  padding: 10px;
}

.col-right {
  width: 60%;
  padding: 10px 10px 0 10px;
}

.pd0 {
  padding: 0;
}

.xair {
  display: inline;
  float: inherit;
  margin: 0;
  padding: 0;
  clear: none !important;
  color: #fff;
}

.txt12 {
  font-size: 12px;
}

.mb10 {
  margin-bottom: 10px;
}

.greydivider {
  border-bottom: 1px solid #b6b6b6;
  margin: 10px;
  float: left;
  width: 95%;
}

.pull-left {
  float: left;
}