
.cross-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

/* ------------------------------------------- */

.jobRow {
  display: inline-block;
  font-size: 13px;
  border-bottom: 1px solid #eee;
  padding-bottom: 0px;
  padding-top: 8px;
  margin-bottom: -3px;
  padding-left: 8px;
  padding-right: 0;
  clear: both;
  position: relative;
}

.jobRow:nth-of-type(2n) {
  background-color: #f5f6f7;
}

.jobRow:hover .cross-button {
  display: block;
}

.mr6 {
  margin-right: 6px;
}

.pt4 {
  padding-top: 4px;
}

.wd73 {
  width: 73%;
}

.table {
  width: 99.2%;
}

.container {
  max-width: 100%;
}

.ml6 {
  margin-left: 6px;
}

.top4 {
  top: 4px;
}

.pdl0 {
  padding-left: 0px;
}

.hh {
  height: 28px;
}

.col-new {
  display: flex;
  float: right;
}

.col-md-11 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-lg-3new {
  width: 21%;
}

.plsigngrey {
  color: #ddd;
}

.plsign {
  margin-top: 4px;
  margin-left: 4px;
  margin-right: 3px;
  color: #333;
}

.glyphicon-plus-sign {
  color: #d4d4d4;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

.glyphicon-star-empty, .glyphicon-star {
  cursor: pointer;
  margin-top: 4px;
  margin-left: 2px;
  margin-bottom: 5px;
}

.mt3 {
  margin-top: 3px;
}

.ml0 {
  margin-left: 0px;
}

.col-md-9new {
  width: 79%;
}

.mtb2 {
  margin-top: 3px;
  margin-bottom: 2px;
}

.col-lg-3 {
  width: 25%;
}

.mobexp {
  display: none;
  width: 100px;
  font-size: 11.5px;
  color: #888;
}

a {
  color: #4b4b4b;
}

.ellip {
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ws {
  white-space: normal;
  overflow: hidden;
}

.abc {
  width: 70%;
  line-height: 14px;
}

.col-lg-7 {
  width: 53%;
}

.col-lg-5 {
  width: 44%;
  display: inherit;
}

.pdl6 {
  padding: 0 0 0 6px;
}

.posrel {
  position: relative;
}

.showunfollow_options, .hideunfollow_options {
  float: right;
  cursor: pointer;
  margin-top: 2px;
}

.grycol {
  color: #B5B5B5;
  padding-right: 4px;
}

.logo-linkage {
  width: 76px;
  padding: 0;
  text-align: center;
  position: relative;
  left: -8px;
}

.logo-linkage:hover {
  display: block;
}

.showcase-logo {
  position: relative;
}

.showcase-logo a {
  text-decoration: none;
}

.showcase-logo .tooltiptext {
  visibility: hidden;
  width: 160px;
  color: #fff;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: #c9c9c9;
  box-sizing: border-box;
  background-color: #2b2b2b;
  box-shadow: 0 0 9px 0 rgba(0,0,0,.28);
  border-radius: 6px;
  padding: 2px 0;
  font-size: 12px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 68%;
  margin-left: -80px;
}

.showcase-logo .save_job {
  visibility: hidden;
  width: 180px;
  color: #fff;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-color: #c9c9c9;
  box-sizing: border-box;
  background-color: #2b2b2b;
  box-shadow: 0 0 9px 0 rgba(0,0,0,.28);
  border-radius: 6px;
  padding: 2px 0;
  font-size: 12px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 68%;
  margin-left: -80px;
}

.showcase-logo:hover .save_job {
  visibility: visible;
}

.showcase-logo:hover .tooltiptext {
  visibility: visible;
}
