@import '../../../../themes/padding.css';
@import '../../../../themes/hidden-sm.css';
@import '../../../../themes/width.css';
@import '../../../../themes/pull.css';
@import '../../../../themes/clearfix.css';

.bannerspace {
  position: relative;
  padding: 10px 0;
}

.banner {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
}

.close {
  position: absolute;
  right: -2px;
  top: 2px;
  text-shadow: 0 0;
  color: #fff;
  opacity: 1;
  font-weight: 400;
  float: right;
  font-size: 21px;
}

.img-wd {
  width: 99.5%;
}