@import '../../../../themes/strong.css';
@import '../../../../themes/clearfix.css';
@import '../../../../themes/font-size.css';
@import '../../../../themes/padding.css';
/* @import '../../../../themes/margin.css'; */

.mt10 {
  margin-top: 10;
}

.col-md-6 {
  width: 50%;
}

.ellip {
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ml10 {
  margin-left: 10px;
}

.diversity {
  display: block;
  clear: both;
}
