@import '../../../../themes/strong.css';
@import '../../../../themes/clearfix.css';
@import '../../../../themes/font-size.css';
@import '../../../../themes/padding.css';
@import '../../../../themes/margin.css';

.pt0 {
  padding-top:0px;
}

.col-md-6 {
  width: 50%;
}

.ellip {
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ml10 {
  margin-left: 10px;
}

.title-employer {
  color: black;
  padding: auto;
}


